.App {
  text-align: center;
  background-color: #282c34;
}

.App-base {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.App-house {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.App-senate {
  background-color: #666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.active-step {
  position: fixed;
  transform: translateX(0%);
  transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.past-step {
  position: fixed;
  transform: translateX(-100%);
  transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.future-step {
  position: fixed;
  transform: translateX(200%);
  transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.additional-information-inactive {
  display: none;
}

.additional-information-active {
  display: block;
}